@media (max-width:1100px){
    .works-top__contant{
        flex-flow: wrap;
    }
    .works-bottom__contant{
        flex-wrap: wrap;
    }
    .works-bottom__item{
        margin-top: 30px;
    }
    .project-main__contant{
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-item__img{
        display: block;
        padding: 20px;
    }
    .video-block{
        width: 600px;
        margin-top: 130px;
        img{
            width: 600px;
        }
    }
    .video-btn{
        display: flex;
        left: 30%;
    }
}
@media (max-width:1000px){
    .header-top{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:970px){
    .services-contant{
        flex-wrap: wrap;
        justify-content: center;
    }
    .services-contant__item{
        margin-top: 20px;
    }
    .about-top__contant{
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-left{
        text-align: center;
        margin-top: 0;
    }
    .about-right{
        margin-top: 25px;
    }
}
@media (max-width:840px){
    .footer{
        margin-top: 120px;
    }
    .footer-top__contant{
        flex-wrap: wrap;
        justify-content: center;
        margin:0 auto;
    }
    .contacts{
        text-align: center;
    }
    .main-links{
        padding: 0 20px;
    }
   
    
}
@media (max-width:730px){
    .works-title{
        text-align: center;
        margin: 0 auto;
    }
    .wroks-btn{
        margin: 0 auto;
        padding-top: 30px;
    }
    .works-bottom__item{
        display: block;
        width: 100%;
        text-align: center;
        max-width: none;
    }
}
@media (max-width:630px){
    .menu ul{
        display: none; 
        position: absolute;
        left: 0;
        right: 0;
    }
    .menu-icon__wrapper{
        display: flex;
        margin-top: 30px;
    }
    .menu-list{
        position: relative;
        margin-top: 25px;
        &__item:hover{
            border-bottom: none;
        }
        a{
           display: block;
            padding: 30px 0;
        }
        li{
            padding: 0;
            margin: 0;
            text-align: center;
            background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
        }
    }
    .header-title{
        font-size: 34px;
        line-height: 61px;
    }
    .about-bottom__contant{
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        margin: 0 auto;
    }
    .about-item{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 30px 0;
    }
    .video-block{
        width: 350px;
            height: 500px;
        img{
            width: 350px;
            height: 500px;
        }
    }
    .video-btn{
        display: flex;
        left: 30%;
    }
    .text-btn{
        display: none;
    }
    .form{
        display:flex;
        flex-wrap: wrap;
    }
    .forma{
        border-top: none;
    }
    .form-btn{
        position: relative;
        margin-top: 30px;
        border-radius: 30px 30px 30px 30px;
    }
    .footer-top__contant a{
        text-align: center;
    }
}
@media (max-width:510px){
    .form{
        width: auto;
    }
    .about-right{
        display: none;
    }
    .works-title{
        font-size: 26px;
    line-height: 45px;  
    }
    .form-title{
        margin-top: 50px;
    }
    .contacts,
    .main-links,
    .projects-links{
        margin-bottom: 30px;
    }
}
@media (max-width:400px){
    .header-title{
        font-size: 31px;
        line-height: 43px;
    }
    .services-top__title{
        font-size: 29px;
         line-height: 38px;
    }
    .works-bottom__img img{
        width: 290px;
    }
    .video-block{
        width: 280px;
        height: 500px;
        
        margin-top: 0px;
        img{
            width: 280px;
            height: 500px;
        }
    }
    .video-btn{
        display: flex;
        left: 25%;

    }
}
@media (min-width:630px){
    .menu ul{
        display: flex !important;
    }
}


