@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    color:#fff;
    a{
        color: #fff;
    }
}
.menu-icon__wrapper {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header-top {
    height: 85px;
}
.header-bottom__line{
    height: 1px;
    width: 100%;
    background:  #A1A1A1;
    position: absolute;
    left: 0;
    right: 0;

}
.menu-list {
    display: flex;
    justify-content: flex-end;
    &__item{
        margin-left: 40px;
        padding: 30px 0;
        
        &:hover{
            border-bottom: 2px solid #fff;
        }
    }
}
.header-content {
    text-align: center;
}
.header-suptitle {
    margin-top: 219px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.header-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 80px;
}
.btn{
   & a{
    padding: 15px 36px;
    background-color: $blue;
    border-radius: 30px;
    transition: all 1s ease;
    color: #fff;
        &:hover{
            box-shadow: 0px 0px 10px;
            background-color: #346ADA;
        }
    }
}
.title{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;

}
.services {
    text-align: center;
    margin-bottom: 105px;
    &-top__title{
       margin-top: 110px;
       margin-bottom: 50px;
    }
    &-top__text{
       
        display: block;
    }
}
.services-contant {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.services-contant__item {
    max-width: 300px;
    line-height: 22px;
    text-align: left;
    padding-left: 120px;
    position: relative;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: url('../img/services-item.png');
        height: 110px;
        width: 110px;
    }
}
.services-contant__title {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    margin-bottom: 12px;
    margin-top: 50px;
}
.services-contant__text {
    font-size: 14px;
}
.about{
    background-color: #F6F6F8;
    &-top__contant{
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 80px;
        border-bottom: 1px solid #E0E0E0;
    }
}
.about-left {
    margin-top: 64px;
    max-width: 490px;
}
.about-left__title {
    padding-bottom: 33px;
}
.about-left__text {
    padding-bottom: 30px;
}
.about-left__link a{
    color:$blue;
    border-bottom: 1px  solid $blue;
    font-weight: 500;
    line-height: 20px;
}
.about-bottom__contant {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}
.about-item {
    max-width: 104px;
}
.about-item__number {
    padding-left: 50px;
    position: relative;
    text-align: left;
    left: 0;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/web-programming.png');
        height: 30px;
        width: 30px;
    }
}
.works{
    position: relative;
    margin-bottom: 85px;
}
.bgc{
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    height: 520px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.works-top__contant{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
 
}
.works-title{
    max-width: 540px;
    color:#fff;
 
}
.wroks-btn{
    margin-top: 25px;
}
.works-bottom__contant {
    display: flex;
    justify-content: space-between;
    margin-top:70px;
    padding-bottom: 80px;
    border-bottom: 1px solid #E0E0E0;

}
.works-bottom__item{
    max-width: 350px;

}
.works-title__number{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4985FF;
}
.works-bottom__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 30px 0;
}
.works-bottom__text{
   padding-bottom: 30px;
}

.project-top__contant{
    text-align: center;
    max-width: 730px;
    margin: 0 auto;
   
}

.prjoect-title {
    color: #000;
}
.project-text {
    padding: 50px 0 70px;
}
.project-main__contant{
    display: flex;
    justify-content: space-between;
}
.project-btn{
    display: flex;
    justify-content:center;
    margin-top: 50px;
    margin-bottom: 130px;
}
.project-item__img img{
transition: all 1s ease;
}
.project-item__img img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.video{
    background-image: url('../img/video-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 570px;
    text-align: center;
    color: #fff;
    margin-bottom: 250px;
}
.video-title{
    color: #fff;
    padding-top: 70px;
}
.video-text{
    padding: 30px 0 70px;   
}
.video-block{
    margin: 0 auto;
    position: relative;
    max-width: 970px;

}
.video-btn{
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    position: absolute;
    left: 335px;
    right: 335px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding: 40px 29px 40px 121px;
    transition: all 1s ease;
    &:hover{
        border: 1px solid #346ADA;
    }
    &::before{
        position: absolute;
        content: '';
        background: url('../img/btn-play.png');
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
        width: 60px;
        height: 60px;
    }
}
.forma{
    display: block;
    text-align: center;
    padding: 35px 0;
    height: 400px;
    padding-top: 85px;
    border-top:  1px solid #E0E0E0;

}
.form-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.form-text__up {
    margin-top: 20px;
}
.form {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 500px;
    padding: 35px 0;
    margin: 0 auto;
}
.email {
    font-size: 13px;
    line-height: 21px;
    padding: 15px 10px 13px 33px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    outline: none;
    width: 490px;

    
    }
.form-btn{
    cursor: pointer;
    background: #4985FF;
    border-radius: 0px 30px 30px 0px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 13px 36px 15px 26px;
    outline: none;
    transition: all 1s ease;
    width: 190px;
    position: absolute;
    right: 0;
    z-index: 4;
    &:hover{
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        background-color: #346ADA;
    }
}
.form-text__down {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 85px;
    display: block;
}
.footer{
    background: #F6F6F8;
    padding-top: 50px;
    a{
        font-size: 14px;
        line-height: 22px;
        color: #999999;
        margin-bottom: 30px;
    }
    font-size: 14px;
    line-height: 22px;
    &-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 35px;
    }
        &-top__contant{
            display: flex;
            justify-content: space-between;
            padding: 70px 0;
            border-bottom: 1px solid #E0E0E0;
        }
        &-link{
            display: block;
            padding-left: 30px;
            position: relative;
        }
}
.footer-link.mail::before{
    position: absolute;
    content: "";
    background: url('../img/envelope.png');
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.footer-link.phone::before{
    position: absolute;
    content: "";
    background: url('../img/call.png');
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.footer-link.mappoint::before{
    position: absolute;
    content: "";
    background: url('../img/placeholder.png');
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.footer-link__arow{
    padding-left: 20px;
    position: relative;
    display:block;
    &::before{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content:'';
        background: url('../img/arrows-left.png');
        width: 5px;
        height: 9px;

    }
}
.mail{
    margin-bottom: 30px;
}
.footer-copyRight{
    padding: 30px 0;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
}

@import "media";
