html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #242B33;
}
a,li{
    list-style: none;
    text-decoration: none;

}
ul{
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    color:#D4C17F;
}
.title{
    color:#D4C17F;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 48px;

}