@media(max-width:1430px){
    .plus-count{
        right: -10px;
    }
}
@media(max-width:1125px){
    .apartmets-list__item{
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .apartments-count{
        left: 90px;
    }
   
    .form-inner{
        flex-wrap: wrap;
        justify-content: center;
    }
   .plus-list{
       flex-wrap: wrap;
    justify-content: space-between;
   }
   .plus-list__item{
       margin: 0 auto;
       padding-top: 20px;
   }
}
@media (max-width:800px){
    
    .apartmets-list__item img{
        max-width: 350px;
    }
    .header-menu__btn{
        display: block;
       
    }
    .menu ul{
        display: none;
        margin-top: 27px;
        position: absolute;
        left: 0;
        text-align: center;
        right: 0;
      
    }
    .menu-list{
    width: 100%;
        &__item a{
            padding: 20px 0;
        }
    }
    .menu-list__item{
        margin-left: 0;
    }
    .menu li{
        display: block;
        
    }
    .menu a{
        display: block;
        background-color: #242B33;
    }
    .footer-nav{
        display: block;
        width: 100%;
    }
}
@media (max-width:570px){
    .apartments-count{
        left: -100px;
    }
    .map-count{
        left: 47px;
    }
}
@media (max-width:500px){
    .header-title{
        font-size: 35px;
        line-height: 48px;    
    }
    .header-contant__contact{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .contact-addres{
        padding-bottom: 20px;
    }
}
@media(max-width:380px){
    .apartmets-list__item img{
        max-width: 250px;
    }
    .apartments-count,
    .plus-count,
    .map-count{
        display: none;
    }
    .apartmets-list__description{
        font-size: 17px;
        line-height: 0px;
    }
}


@media (min-width:800px){
    .menu-list{
        display: flex !important;
    }
}