@import "vars";
@import "libs";
@import "fonts";
@import "global";
.header{
    position: relative;
    background-image: url(../img/first-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 840px;
    width: 100%;
    &-content__top{
        display:flex;
        justify-content: space-between;
    }
}
.header-content__top{
    padding-top: 40px;
}
.menu{
    &-list{
        display: flex;
        justify-content: space-between  ;
    }
    &-list__item{
        margin-left: 20px;
        a{
            color:#fff;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.15em;
        }
    }
}
.header-contant__main{
    max-width: 582px;
    text-align: center;
    height: 470px;
    margin: 0 auto;
    margin-top: 150px;
}
.header-contant__contact{
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    a{
        color: #fff;
    }
}
.mouse-img{
    margin-top: 100px;
    margin-bottom: 160px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.contact-addres,
.contact-phone{
    position: relative;
    padding-left: 36px;
}
.contact-addres::before{
    position: absolute;
    content: "";
    background: url('../img/mappointer.png');
    width: 21px;
    height: 21px;  
    left: 0;
    top: 0;
}
.contact-phone::before{
    position: absolute;
    content: "";
    background: url('../img/phone.png');
    width: 21px;
    height: 21px;  
    left: 0;
    top: 0;
}
.plus{
   margin: 120px 0;

    &-list{
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &-text{
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #fff;
        max-width: 200px;
        margin-top: 50px;
    }
}
.plus-count{
    @include count;
    position: absolute;
    top: -190px;
    right: -150px;
}
.apartmets-list{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item{
        margin-top: 30px;
        position: relative;
    }
   &__item{
       transition: all 1s ease;
    &:hover{
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
   }
}
.apartmets-list__description{
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.06em;
    opacity: 0.9;
}
.apartments{
    position: relative;
    
}
.apartments-count{
    position: absolute;
    @include count;
    left: 170px;
    top: -60px;
}
.form {
    padding: 180px 0;
    background-image: url('../img/form-backgraund.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &-inner{
        display: flex;
        justify-content: space-between;
    }
    &-content__left{
        max-width: 535px;
        
    }
}
.form-content__text {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 50px;
}
.form-content__right {
    max-width: 540px;
    margin-top: 30px;
}
.forma-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forma-list__item {
    margin-top: 35px;
}
.forma-list__item input{
    text-align: center;
    font-size: 14px;
    line-height: 27px;
    padding: 12px;
    background: rgba(#fff, 0.2);
    width: 255px;
    border: 0;
    color: #BEBEBE;
    transition: all 1s ease;
    &::placeholder{
        color: #BEBEBE;
    }
}
.forma-discr {
    max-width: 255px;
    color:#fff;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}
.forma-list__item.forma-btn input{
    font-size: 16px;
    line-height: 27px;
    cursor: pointer;
    background-color: #D4C17F;
    color: #fff;
    transition: all 1s ease;
   &:hover{
       background-color: #A99652;
   }
}
.video{
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.video-count{
    position: absolute;
    right: 195px;
    @include count;
    top: 0;
}
.video-block {
    margin: 0 auto;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/video-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    position: relative;
    max-width: 720px;
    margin-bottom: 180px;
}
.play-btn {
    position: absolute;
    
    transition: all 1s ease;
    &:hover{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.map{
    margin-top: 170px;
    position: relative;
    z-index: 4;
    &-container{
        margin-top: 100px;
      
    
    }
    &-count{
        position: absolute;
        @include count;
        left: 255px;
        top: -55px;
    }  
   
}
#map{
    width: 100%;
    height: 355px;
}
.form-down{
    margin-top: 180px;
}
.forma-discr__down{
    margin-top: 10px;
    margin-bottom: 185px;
}


.footer {
    background-color: #2D343C;
    padding-bottom: 20px;
    margin-top: 150px;
   
    &-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 60px;
        a{
            color:#fff;
        }
    }
}
.footer-list__item {
    margin-bottom: 15px;
}
.forma-list__item{
    height: 51px;
}

.mail{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #D4C17F;
}
.cocial-icon img{
    height: 20px;
}

.header-menu__btn{
    filter:invert(1);
    display: none;
}
@import "media";
